<section></section>
<img src="./assets/MarioDanne.png" class="imgMario">
<img src="./assets/LuigiDanne.png" class="imgLuigi">
<div class="container">
    <div class="box">
        <img src="./assets/Mario.png">
        <h3>Today is</h3>
        <p>{{ todayIs }}</p>
    </div>
    <div class="box">
        <img src="./assets/Luigi.png">
        <h3>Todays Riddle</h3>
        <p>{{ riddle }}</p>
    </div>
    <div class="box">
        <img src="./assets/Peach.png" style="transform: scaleX(-1)">
        <h3>Name day</h3>
        <p>{{ namesDay }}</p>
    </div>
    <div class="box">
        <img src="./assets/Mushroom.png">
        <h3>Quotes</h3>
        <div *ngFor="let q of quotes">
        <p *ngIf="q.visible">{{ q.quote }}</p>
        </div>
    </div>
</div>